################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MinhaAPICompleta
/src/DevIO.Api/obj
/src/DevIO.Business/obj
/src/DevIO.Data/obj
src/DevIO.Business/bin
src/DevIO.Data/bin
.DS_Store
src/DevIO.Api/bin
/src/DevIO.Api/wwwroot/app/demo-webapi/.vs
